absl-py==2.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alabaster==1.0.0
asttokens==2.4.1
attrs==24.2.0
babel==2.16.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.7
colorspacious==1.1.2
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
decorator==5.1.1
docker-pycreds==0.4.0
docutils==0.21.2
executing==2.1.0
-e git+https://github.com/facebookresearch/fastMRI.git@b66159850dbdc2569d7683f6f86bcd5cc8534339#egg=fastmri
filelock @ file:///work/perseverance-python-buildout/croot/filelock_1701733993137/work
fonttools==4.53.1
frozenlist==1.4.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.43
grpcio==1.66.1
h5py==3.11.0
idna @ file:///croot/idna_1714398848350/work
imageio==2.35.1
imagesize==1.4.1
ipython==8.27.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1716993405101/work
joblib==1.4.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.7
lazy_loader==0.4
lightning-utilities==0.11.7
Markdown==3.7
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib==3.9.2
matplotlib-inline==0.1.7
medutils-mri==0.1.1
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
mpmath @ file:///work/perseverance-python-buildout/croot/mpmath_1698864994882/work
multidict==6.1.0
networkx @ file:///croot/networkx_1717597493534/work
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp312-cp312-linux_x86_64.whl#sha256=e2374991344fa2241a2153ef3d550d3a1cd2d50cb1f1d51eddc82870abc88021
numpydoc==1.8.0
packaging==24.1
pandas==2.2.3
pandas-flavor==0.6.0
parso==0.8.4
patsy==0.5.6
pexpect==4.9.0
pillow @ file:///croot/pillow_1721059439630/work
pingouin==0.5.5
platformdirs==4.3.6
prompt_toolkit==3.0.47
protobuf==5.28.2
psutil==6.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil==2.9.0.post0
pytorch-lightning==2.4.0
pytz==2024.2
PyYAML @ file:///work/perseverance-python-buildout/croot/pyyaml_1698849903511/work
requests @ file:///croot/requests_1721410876868/work
runstats==2.0.0
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
sentry-sdk==2.14.0
setproctitle==1.3.3
setuptools==75.1.0
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==8.0.2
sphinx-gallery==0.17.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
statsmodels==0.14.3
sympy @ file:///croot/sympy_1724938189289/work
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tifffile==2024.9.20
torch==2.4.1
torchaudio==2.4.1
torchmetrics==1.4.2
torchvision==0.19.1
tqdm==4.66.5
traitlets==5.14.3
triton==3.0.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1718912636303/work
wandb==0.18.1
wcwidth==0.2.13
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
xarray==2024.9.0
xmltodict==0.13.0
yarl==1.11.1
